<section class="section proyects" id='proyects'>
    <div class="container">
        <div class="section-box">
            <div data-aos="fade-up" data-aos-duration="1000">
                <h3 class="section-title">
                    <span class='n-section-title'>03.</span> {{"FeatureProjects.Title" | translate}}
                </h3>
            </div>

            <div *ngFor='let project of "FeatureProjects.Projects" | translate; let i = index'
                 class="proyect-card" [class.reverse]='i % 2 != 0' data-aos="fade-up" data-aos-duration="1000">

                <!-- Image side -->
                <div class="proyect-media">
                    <owl-carousel-o *ngIf="project.imgs?.length > 1; else singleImg" [options]="customOptions">
                        <ng-container *ngFor="let img of project.imgs">
                            <ng-template carouselSlide>
                                <div class='img-container'>
                                    <i class="far fa-image img-placeholder"></i>
                                    <img class='img-feature-proyect' [src]="img" [alt]="project.Title" loading="lazy" (error)="onImgError($event)">
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                    <ng-template #singleImg>
                        <div class='img-container'>
                            <i class="far fa-image img-placeholder"></i>
                            <img *ngIf="project.imgs?.length" class='img-feature-proyect' [src]="project.imgs[0]" [alt]="project.Title" loading="lazy" (error)="onImgError($event)">
                        </div>
                    </ng-template>
                </div>

                <!-- Text side -->
                <div class="proyect-info">
                    <h4 class="feature-proyect">{{"FeatureProjects.Label" | translate}}</h4>
                    <h5 class="proyect-name">{{project.Title}}</h5>

                    <div class="proyect-description-box">
                        <p class="mb-0" [innerHTML]="project.Description"></p>
                    </div>

                    <ul class="proyect-skills">
                        <li *ngFor='let technology of project.Technologies'>
                          <span class="technology">{{technology}}</span>
                        </li>
                    </ul>

                    <div class="proyect-links" *ngIf="project['ghLink'] || project['demoLink']">
                        <a *ngIf="project['ghLink']" [href]="project['ghLink']" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
                        <a *ngIf="project['demoLink']" [href]="project['demoLink']" target="_blank" aria-label="Live demo"><i class="fas fa-external-link-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
